h1 {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 26px;
    margin-top: 18px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
    margin-top: 16px;
  }
}
