small {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: gray;
}

h2 {
  color: rgb(41, 7, 195);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

span {
  align-items: center;
  justify-content: center;
  margin: 8px 8px;
  font-size: 32px;
  color: green;
  font-weight: bold;
  margin-top: 2px;
}

p {
  font-size: 16px;
  color: black;
  margin: 8px 8px;
  align-items: center;
  justify-content: center;
}

.volver {
  color: rgb(13, 252, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
