.nav-container {
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  height: 60px;
}

.links {
  text-decoration: none;
  color: rgb(57, 238, 57);
  font-size: 40px;
  cursor: pointer;
}

.active {
  text-decoration: none;
  color: whitesmoke;
  font-size: 40px;
  cursor: pointer;
}

.contador {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.img-wh {
  width: 80px;
  height: 80px;
  outline: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
}
